.banner{
 }
.banner-content{
    padding: 2px;
    float: left;
    width: auto;
    height: auto;
}
.banner-image{
    padding: 2px;
    height: auto;
    width: 28%;
    float: left;
}
.logo{
    width: 29%;
}
.section{

}
.left-content{
    float: left;
    padding: 2px;
    margin: 20px;
    height: 600px;
    width: 30%;
}
.right-content{
    float: right;
    padding: 20px;
    margin: 10px;
    height: auto;
    width: auto;
}
.imagecontent{

}
.rci-image{

}


.explore-more{
    overflow: auto;
    padding: 2px;
    margin: 2px;
    clear: both;
    background-color: linen;
    height: auto;
    width: 100%;
}
.explore-image{

}
.explore-content{
    padding: 20px;
    margin: 20px;
    height: auto;
    width: 28%;
    overflow: auto;
    float: left;
    /*display: inline;*/
}
#list{
    float: left;


}
.footer{
    text-align: center;

}
.footer-content{
    padding: 5px;
    margin: 2px;

    /*text-align: center;*/
    overflow: auto;
    float: left;
    /*display: inline-block;*/
}
.footer-logo{
    background-color: #219161;
    width: 16%;
    float: left;

}